body {
    background-color: #E7E3F9;
    font-family: Helvetica, Arial, sans-serif;
    color: #6052ca;

}

.container {
    margin: 120px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #493D9E;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.5;
    
}

.form-container {
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    background-color: white;  
    box-shadow: 0px 20px 60px rgba(65, 50, 200, 0.08);
}

.hint {
    line-height: 1.5;
    font-size: 10px;
    padding-left: 5px;
    opacity: 0.6;
}

form {
    display: flex;
}

.instructions {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9476ff;
    line-height: 20px;
    color: #493D9E;
}

.submit-button {
    padding: 12px 20px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #CEBEF9;
    color: white;
    border: none;
    width: 120px;
    
}

.submit-button:hover {
    background-color: #493D9E;
    cursor: pointer;
    transition-duration: 0.5s;

}

.poem {
    background-color: white;
    line-height: 24px;
    padding: 10px;
    border-left: 3px solid #CEBEF9;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.05);
}

.poem strong {
    color: #6052ca;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}